
/* line 1 : C:\Users\jctherond\projects\normalize.stylus\testing\node_modules\stylus\lib\functions\index.styl */

/* line 26 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\index.styl */

/* line 26 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_vendor.styl */

/* line 579 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_config.styl */

/* line 9 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_base.styl */

/* line 9 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_base.styl */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_base.styl */
body {
  margin: 0;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_html5.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_html5.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 12 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_html5.styl */
audio,
canvas,
video {
  display: inline-block;
}

/* line 18 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_html5.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_html5.styl */
[hidden],
template {
  display: none;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_link.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_link.styl */
a {
  background: transparent;
}

/* line 12 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_link.styl */
a:focus {
  outline: thin dotted;
}

/* line 17 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_link.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 8 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */

/* line 8 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 14 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 19 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
b,
strong {
  font-weight: bold;
}

/* line 24 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
dfn {
  font-style: italic;
}

/* line 29 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 35 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 41 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 47 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
pre {
  white-space: pre-wrap;
}

/* line 52 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 57 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
small {
  font-size: 80%;
}

/* line 62 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 68 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
sup {
  top: -0.5em;
}

/* line 71 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_typography.styl */
sub {
  bottom: -0.25em;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_embedded.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_embedded.styl */
img {
  border: 0;
}

/* line 12 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_embedded.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_figures.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_figures.styl */
figure {
  margin: 0;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 15 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 23 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 31 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button,
input {
  line-height: normal;
}

/* line 39 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button,
select {
  text-transform: none;
}

/* line 48 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 55 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 61 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 69 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 76 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 82 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 89 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_forms.styl */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_tables.styl */

/* line 7 : C:\Users\jctherond\projects\normalize.stylus\lib\normalize\_tables.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
