// ============================================================================
// Description: Normalize.CSS v2.1.3
// Project: Normalize.styl 
// Author: Thiago Cangussu 
// Author URL/Email: geekrrr@yahoo.com
// Version: 1.0.0
// ============================================================================

normalize-html5()
	@import "normalize/_html5"

normalize-base()
	@import "normalize/_base"

normalize-links()
	@import "normalize/_link"

normalize-typography()
	@import "normalize/_typography"

normalize-embedded()
	@import "normalize/_embedded"

normalize-figure()
	@import "normalize/_figure"

normalize-forms()
	@import "normalize/_forms"

normalize-tables()
	@import "normalize/_tables"

normalize()
	normalize-html5()
	normalize-base()
	normalize-links()
	normalize-typography()
	normalize-embedded()
	normalize-figure()
	normalize-forms()
	normalize-tables()