// ============================================================================
// Description: Normalize.CSS v2.1.3
// Project: Normalize.styl 
// Author: Thiago Cangussu 
// Author URL/Email: geekrrr@yahoo.com
// Version: 0.1.0
// ============================================================================

normalize-html5()
	@import "_html5"

normalize-base()
	@import "_base"

normalize-links()
	@import "_link"

normalize-typography()
	@import "_typography"

normalize-embedded()
	@import "_embedded"

normalize-figure()
	@import "_figures"

normalize-forms()
	@import "_forms"

normalize-tables()
	@import "_tables"

normalize()
	normalize-html5()
	normalize-base()
	normalize-links()
	normalize-typography()
	normalize-embedded()
	normalize-figure()
	normalize-forms()
	normalize-tables()